* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 3vw;
}

footer {
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-family: 'RajdhaniRegular';
	padding: 5vw;
}

footer .ayah {
	font-weight: bolder;
	font-size: 10vw;
	color: #F0F0F0;
	margin-bottom: 4vw;
}

footer a {
	font-size: 3vw;
	color: blue;
	font-weight: bolder;
}
